:root{
    /*font sizes*/
    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;

    /*colours*/
    --background: black;
    --text1: azure;;
    --text2: #d3d3d3;
    --colour1: #D3C5E5;
    --colour2: #735DA5;

    /*font*/
}

.links {
    font-size: var(--margin-s);
    color: var(--text1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    background-image: url("blue-textured-background-with-white-fabric-stain.jpg");
    background-size: cover;
    /* overflow-y: hidden; */
    line-height: 1.6rem;
}

main {
    min-height: 80vh;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
}

/*navbar*/
#nav-bar ul {
    max-width: 100%;
    min-height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#nav-bar a {
    color: azure;
    font-size: 30px;
    font-weight: bold;
}

/*RealLife page*/

/* CSS */
.primary_button {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 300px;
  height: 80px;
}

.primary_button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

#RealLife_button a, #cart_button a {
    text-decoration: none;
    color: black;
}

#container {
    width: 300px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

/*Products page*/
.container {
    width: 80%;
    height: 80%;
    position: relative;
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* border: 1px solid white; */
}

.product_desc {
    width: object-fit;
    height: 100%;
    color: var(--text1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: var(--margin-xl);
    margin-top: calc(var(--margin-xl)*2);
    /* border: 1px solid white; */
}

.product_img {
    width: 600px;
    height: 600px;
    min-width: 600px;
    min-height: 600px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: var(--margin-m);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}

/*Spacing*/
.product_desc h1 {
    margin: var(--margin-l) 0;
}

.product_desc h2 {
    margin: var(--margin-s) 0;
}

.size_buttons {
    margin: var(--margin-xxs) 0;
}

.size_buttons {
    width: 25%;
    height: 10%;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap: wrap;
}

#quantity_input {
    margin: var(--margin-xxs) 0;
}

#cart_button {
    margin: var(--margin-l) 0;
}

.secondary_button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
    height: 50px;
  }
  
  .secondary_button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }

/*Cart page*/

.cart-page {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    width: 65%;
}

.cart-page table {
    width: 100%;
    /*controls whether table cell borders are merged into a single border*/
    border-collapse: collapse;
    color: #fff;
    margin: 0 auto;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #000;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: var(--colour1);
    font-size: 12px;
}

td img{
    width: 100px;
    height: 100px;
    margin-right: var(--margin-m);
}

.total-price {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    width: 65%;
    /* border: 1px solid white; */
}

.total-price table {
    border-top: 3px solid #fff;
    width: 100%;
    max-width: 350px;
    color: #fff;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}
